<article class="post">
  <header class="post-header home">
    <!-- 2021.08.10 주석 start -->
    <div style="display: none;" class="post-title">Articles</div>
    <!-- 2021.08.10 주석 end -->
  
    <div class="post-title">About</div>
  </header>

  <div class="post-content">
    <p>Haema<br>
      Software Engineer<br>
      Degree of bachelor expected in Computer Science, Korea National Open University<br>
      Java, Spring / Web<br>
    </p><br>
    <p>GitHub: <a href="https://github.com/haema-dev" target="_blank">Haema's GitHub</a></p>
    <p>Study Log: <a href="https://haema-dev.tistory.com" target="_blank">Haema's  Dev Blog</a></p>
    <p>Life Log: <a href="https://velog.io/@haema_dev" target="_blank">Haema's Life Blog</a></p>
    <p>Contact: <a href="https://hm-tunnel.haema-tea.cc">Haema's Post Board</a></p>
  </div> 



  <!-- 2021.08.10 주석 start -->
  <div style="display: none;" class="post-content">
      {%- if site.posts.size > 0 -%}
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li class="post-list-item">
        <!-- {%- assign date_format = site.date_format | default: "%b %-d, %Y" -%} -->
        {%- assign date_format = "%Y/%m/%d" -%}
        <span class="post-date">{{ post.date | date: date_format }}</span>
      	<a class="post-link" href="{{ post.url | relative_url }}">
    	    {{ post.title | escape }}
		    </a>
        {%- if site.show_excerpts -%}{{ post.excerpt }}{%- endif -%}
      </li>
      {%- endfor -%}
    </ul>
  {%- endif -%}
  </div>



</article>
</div>
